body {
    background-color: #1f1f1f;
    padding: 2px;
    margin-left: 15px;
    margin-right: 15px;
}

default_text {
    font-family: Cascadia Code;
    color: gainsboro;
}

a {
    color:chartreuse
}

navbar {
    direction: row;
    align-items: start;
}

navbar_column {
    direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}



query {
    width: 520px;
    height: 35px;
    padding: 5px;
    font-size: 15px;
}

search_results {
    direction: column;
    gap: 20px;
    padding: 10px;
}

card {
    direction: column;
    gap: 0px;
    height: 100px;
}

card_sublist {
    direction: column;
    gap: 0px;
    height: 100px;
}

card_sitename {
    font-size: 12px;
}

card_title {
    font-size: 15px;
}

card_description {
    font-size: 10px;
}

pagenumber {
    margin-left: 20px;
    margin-right: 20px;
}